.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.info-container {
  /* background-color: #61dafb; */
  opacity: 25%;
  color: #61dafb;
}
h1 {
  font-size: 1em;
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 2em;
}
p {
  max-width: 500px;
  font-size: 0.6em;
}
ul {
  margin: 0;
  text-align: center;
  padding: 0 10px;
}
li {
  font-size: 0.6em;
}
button {
  width: 150px;
  height: 50px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  margin: 0.5em;
}
div .add {
  background-color: yellowgreen;
  position: relative;
}
div .remove {
  background-color: tomato;
  position: relative;
}
.add:hover,
.remove:hover {
  transition: all 0.2s;
  opacity: 75%;
}
.add:active,
.remove:active {
  top: 2px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
